html,
body {
    margin: 0;
    overflow: hidden;
    background: #000000;
}

#loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000005;
}

#loadingtext {
    color: #d8d8d8bf !important;
    font-weight: 700;
    font-size: 16px;
    background-color: #000000;
    font-family: __DM_Sans_0dfae3, __DM_Sans_Fallback_0dfae3;
    font-style: normal;
    letter-spacing: 1px;
}

#pagecontent {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    --animate-duration: 1300ms;
    background-image: url("https://i.ibb.co/q7C6Jh0/scheich-zayid-moschee-abu-dhabi-arabischen-emirate.jpg");
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5ddgh-frZR_Bl3FdS9n2Y0EL-q048TlpSut_5UqmFfg&s"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.text-sm {
    font-size: .75rem;
    line-height: 1.25rem;
    font-family: __DM_Sans_0dfae3, __DM_Sans_Fallback_0dfae3;
    font-style: normal;
    letter-spacing: 1px;
}

 
@font-face {
    font-family: __DM_Sans_0dfae3;
    font-style: normal;
    font-weight: 100 1000;
    font-display: swap;
    src: url(/_next/static/media/56d4c7a1c09c3371-s.woff2) format("woff2");
    unicode-range: u+0100-02af,u+0304,u+0308,u+0329,u+1e00-1e9f,u+1ef2-1eff,u+2020,u+20a0-20ab,u+20ad-20c0,u+2113,u+2c60-2c7f,u+a720-a7ff
}
 
@font-face {
    font-family: __DM_Sans_0dfae3;
    font-style: normal;
    font-weight: 100 1000;
    font-display: swap;
    src: url(/_next/static/media/7e6a2e30184bb114-s.p.woff2) format("woff2");
    unicode-range: u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+0304,u+0308,u+0329,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}
 
@font-face {
    font-family: __DM_Sans_Fallback_0dfae3;
    src: local("Arial");
    ascent-override:94.37%;descent-override:29.49%;line-gap-override:0%;size-adjust:105.12%}
 
.__className_0dfae3 {
    font-family: __DM_Sans_0dfae3,__DM_Sans_Fallback_0dfae3;
    font-style: normal;
}
 
@font-face {
    font-family: __array_4905fd;
    src: url(/_next/static/media/a9137a19b9a3319e-s.p.ttf) format("truetype");
    font-display: swap
}
 
@font-face {
    font-family: __array_Fallback_4905fd;
    src: local("Arial");
    ascent-override:91.57%;descent-override:19.62%;line-gap-override:9.16%;size-adjust:95.56%}
 
.__className_4905fd {
    font-family: __array_4905fd,__array_Fallback_4905fd
}
 
.__variable_4905fd {
    --font-array: "__array_4905fd","__array_Fallback_4905fd"
}
 
@font-face {
    font-family: __wereBeast_6b232a;
    src: url(/_next/static/media/e6ec9546b5097c5e-s.p.ttf) format("truetype");
    font-display: swap
}
 
@font-face {
    font-family: __wereBeast_Fallback_6b232a;
    src: local("Arial");
    ascent-override:83.13%;descent-override:19.44%;line-gap-override:.72%;size-adjust:124.99%}
 
.__className_6b232a {
    font-family: __wereBeast_6b232a,__wereBeast_Fallback_6b232a
}
 
.__variable_6b232a {
    --font-werebeast: "__wereBeast_6b232a","__wereBeast_Fallback_6b232a"
}